In [96]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [97]:
df=pd.read_csv('placement (1).csv')
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [98]:
class LinearRegression:
    
    def __init__(self,X_train,y_train):
        self.X_train=X_train.values
        self.y_train=y_train.values
    def fit(self):
        num=0
        den=0
        for i in range(X_train.size):
            num=num+(self.y_train[i]-self.y_train.mean())*(self.X_train[i]-self.X_train.mean())
            den=den+(self.X_train[i]-self.X_train.mean())*(self.X_train[i]-self.X_train.mean())
        m=num/den
        b=self.y_train.mean()-m*self.X_train.mean()
        self.m=m
        self.b=b
        return m,b
    def predict(self,x):
        y=self.m*x+self.b
        print(y)

In [99]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0],df.iloc[:,-1],test_size=0.2,random_state=2)

In [100]:
y_train.mean()

3.0039375

In [101]:
lr=LinearRegression(X_train,y_train)
print(lr.fit())

(0.5579519734250721, -0.8961119222429152)

In [102]:
lr.predict(X_test)

112    3.891116
29     3.093245
182    2.384646
199    2.574349
193    1.653729
85     1.776478
10     2.072193
54     2.931439
115    3.762787
35     2.937018
12     4.091979
92     3.511709
13     2.970495
126    2.401384
174    3.188097
2      3.467073
44     1.943864
3      3.243892
113    2.976075
14     3.416857
23     2.557611
25     3.165778
6      2.858905
134    3.121142
165    3.684674
173    2.870064
45     3.494970
65     3.344323
48     3.919014
122    1.960602
178    3.651197
64     3.210415
9      3.740469
57     2.786371
78     2.780792
71     3.271789
128    3.528447
176    2.613406
131    2.658042
53     2.713837
Name: cgpa, dtype: float64

In [103]:
y_test

112    4.10
29     3.49
182    2.08
199    2.33
193    1.94
85     1.48
10     1.86
54     3.09
115    4.21
35     2.87
12     3.65
92     4.00
13     2.89
126    2.60
174    2.99
2      3.25
44     1.86
3      3.67
113    2.37
14     3.42
23     2.48
25     3.65
6      2.60
134    2.83
165    4.08
173    2.56
45     3.58
65     3.81
48     4.09
122    2.01
178    3.63
64     2.92
9      3.51
57     1.94
78     2.21
71     3.34
128    3.34
176    3.23
131    2.01
53     2.61
Name: package, dtype: float64